

<h1>Books</h1>
<% @books.each do |book| %>
  <p>title</p>
      <%= book.title %>
　<p>body</p>
    　<%= book.body %>
      <%= link_to "show", book_path(book) %>
      <%= link_to "edit", book_path(book) %>
      <%= link_to "deestroy", book_path(book), method: :delete, date: {confirm: "本当に削除しますか？", turbo_confirm: "confirm"} %>
  
<% end %>


  



</div>

<div class ="New book">
<h2>New Book</h2>
<%= form_with model: @book, url: '/books', method: :post do |f| %>
    
    <h5>title</h5>
    <%= f.text_field :title %>
    <h5>body</h5>
    <%= f.text_area :body %>
    
    <%= f.submit 'Create Book' %>
    
   
    
<% end %>

</div>