

<h1>Books</h1>
<table cellpadding= "3">
  
  <thead>
    <tr align = "center">
      <th width = "30%">Title</th>
      <th width = "50%">Body</th>
      <th colspan></th>
    </tr>
  </thead>  
  
<% @books.each do |book| %>  
  <tbody>
    <tr align = "left">
      <td><%= book.title %></td>
      <td><%= book.body %></td>
　 

      <td><%= link_to "Show", book_path(book) %></td>
      
      <td><%= link_to "Edit", edit_book_path(book) %></td>
      <td><%= link_to "Destroy", book_path(book), method: :delete, data: {confirm: "Are you sure？", turbo_confirm: "confirm"} %></td>
    </tr>
  
  
  </tbody>
<% end %>
  
</table>


<h2>New Book</h2>

<div class ="flash-message-error">
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>



<% if flash[:notice].present? %>
  <p><%= flash[:notice] %></p>
<% end %>
</div>



<%= form_with model: @book, url: '/books', method: :post do |f| %>
    
    <h5>Title</h5>
    <%= f.text_field :title %>
    <h5>Body</h5>
    <%= f.text_area :body %>
    
    <%= f.submit 'Create Book' %>
    
   
    
<% end %>

