<div class = "watch">

<h1>Books</h1>
<%= form_with model: @book, url: books_path, method: :post, local: true do |f| %>

    <p>title</p>
    <%= f.text_field :title %>

    <p>body</p>
     <%= f.text_area :body %>
    
    <%= f.submit 'Create Book' %>

<% end %>    
</div>

<div class ="New book">
<h2>New Book</h2>
<%= form_with model: @book, url: '/books', method: :post do |f| %>
    
    <h5>title</h5>
    <%= f.text_field :title %>
    <h5>body</h5>
    <%= f.text_area :body %>
    
    <%= f.submit 'Create Book' %>
    
<% end %>
</div>