

<h1>Books</h1>

<%= form_with model: @book, url: 'books', method: :post do |f| %>
<p><%= @book.title %></p>
<p><%= @book.body %></p>


<h2>New Book</h2>

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<% if flash[:notice].present? %>
  <p><%= flash[:notice] %></p>
<% end %>
  
    
    <h5>title</h5>
    <%= f.text_field :title %>
    <h5>body</h5>
    <%= f.text_area :body %>
    
    <%= f.submit 'Create Book' %>
    
<% end %>
