<h1>Books</h1>
<%= form_with model: @book, url: 'books', method: :post do |f| %>
<p><%= @book.title %></p>
<p><%= @book.body %></p>

<h2>New Book</h2>

    
    <h5>title</h5>
    <%= f.text_field :title %>
    <h5>body</h5>
    <%= f.text_area :body %>
    
    <%= f.submit 'Create Book' %>
    
<% end %>
